includes/license.txt
includes/license.conf
includes/country.txt
includes/Variables.inc.php
includes/cron/tmp/*
tmp/*
backups/adhoc/
server/tmp/*.*
quota/quota_files/
quota/quota_files/*
.ftpquota
vendor/
includes/protected/key.*
includes/activation.dat
logs/*
backups/daily
