includes/license.txt
includes/license.conf
includes/country.txt
includes/Variables.inc.php
includes/cron/tmp/*
tmp/*
backups/adhoc/
server/tmp/*.*
quota/quota_files/
quota/quota_files/*
.ftpquota
vendor/
includes/protected/key.*
includes/activation.dat
logs/*
backups/daily
logs/*
nm/
backups/weekly/
backups/weekly/*
emails/trace/run_trace_lock
installer/wordpress/WP.zip
installer/wordpress/current_version.txt
restore/tmp/
restore/tmp/*
emails/trace/bw_log.txt
fail2ban/perm.dat
API/2.0.0/log.log
API/conf/server_list.txt
fail2ban/tmp/*
modules/
modules/*
.bash_history
